cells_final/
cells_final*
.virtual*
.ipynb_*

/*_data*/
*_data*/

/data*/
data_/


training_checkpoints

__pycache__/
*.npy
playground.ipynb
*.bin

*.pth

cells_final/
cells_final*
.virtual*
.ipynb_*

/*_data*/
*_data*/

/data*/
data_/

__pycache__/

playground.ipynb
*.bin

*.pth
/wandb
wandb
*.sqlite3
*.csv
/lightning_logs
lightning_logs
lightning_logs/
